*{
    font-family: Roboto;
}

.mainContainer{
    background-color: #f6f8f9;
    position: relative;
}

.header{
    position: fixed;
    height: 75px;
    width:100%;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    z-index: 10;
}

.logoContainer img{
    height: 58px;
    object-fit: contain;
  }

.timesColor{
    font-size: 19px;
    color: #dbdbdb;
}

.timesColor:hover{
    color:#f04b31;
}

.loginContainer{
    height: 100vh;
    background-color: #fff;
    z-index:1;
    

}

.loginHeader{
    font-size: 30px;
    text-align: center;
    color: #2c2e30;
}

.loginParagraph{
    font-size: 16px;
    text-align: center;
    color: #2c2e30;
  }




.form-controlStyle{
    width: 450px;
    height: 56px;
    border-radius: 28px;
    background-color: #ededed;
    color:#2c2e30;
    padding-left:13px;
}

.btnStyle{
    
        width: 506px;
        height: 56px;
        border-radius: 28px;
        border: solid 1px #f04b31;
    
}

.btnStyle:hover{
    background-color: #f04b31 !important;
}

/*yukarıdakiler önceki sayfa tasarımından geldi*/


.licenceIDStyle{
color:#f04b31;
font-weight: bold;
}

.btnStyle1{
    width: 506px;
    height: 56px;
}

.btnStyleMini{
    width: 190px;
    height: 56px;
    border-radius: 28px;
    border: solid 1px #f04b31;
}

.leftPanel{
    position: absolute;
    left: 0;
    top: 25%;
    width:249px;
   }

.leftPanelContainer{
    border-radius: 0  33px 33px 0;
    background-color: #fff;
    box-shadow: 2px 0px 12px 1px rgba(0,0,0,0.1);
    z-index: 1;
    
}

.circleprogressBar{
    width: 72px;
    height: 72px;
  border-radius:50%;
  background: #fff;
  border: solid 9px #19e412;
  font-family: Roboto;
  font-size: 16px;
  color: #2c2e30;
  font-weight: bold;
}

.estimateBorder{
    height: 1px;
    opacity: 0.10;
    border-bottom: solid 1px #979797;
    width: 100%;
}


.estimatePrice{
    font-family: Roboto;
    font-size: 34px;
    font-weight: 500;
    
    text-align: center;
    color: #f04b31;
}

.estimateName{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.13;
    color: #2c2e30;
}


.redTitle{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #f04b31;
}

.textPanelBold{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  color: #2c2e30;
}

.textPanelNormal{
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  color: #2c2e30;
}

.editIcon{
    color:#f04b31;

}

.addNewCarIcon{
    color:#aaaaaa;
    font-size: 16px;
}

.addNewCarText{
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  color: #aaaaaa;
}

.footerBar{
height: 75px;

}

.footerBarContainer{
position: fixed;
bottom:0;
z-index: 10;
background: #fff;
box-shadow: 0 -1px 18px 0 rgba(0, 0, 0, 0.21);
}

.quoteBarIcon, .driverBarIcon, .carBarIcon, .policyBarIcon{
    font-size: 38px;
}

/* .quoteBarIcon:hover, .driverBarIcon:hover, .carBarIcon:hover, .policyBarIcon:hover{
    
    color:#f04b31;
} */

.quoteBarTitle, .driverBarTitle, .carBarTitle, .policyBarTitle{
    font-size:20px;
    line-height: 1.3;
    }
    
    
    .quoteBarSubtext, .driverBarSubtext, .carBarSubtext, .policyBarSubtext{
        font-size: 12px;
        }

        .footerBarContainer a {
            text-decoration: none;
            color: #cecece;
        }

.form-control:focus {
    border-color: #ededed;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.redLine{
    height: 4px;
    background-color: #f04b31;
    visibility: hidden;
}

.footerBarContainer a:hover .redLine, a{
    visibility:visible;
    
    
}


.footerBarContainer a:hover{
    color:#f04b31;
    
    }
    
    a:hover .quoteBarSubtext{
        color:#2c2e30 ;
    }
    
    a:hover .driverBarSubtext{
        color:#2c2e30 ;
    }
    a:hover .carBarSubtext{
        color:#2c2e30 ;
    }
    a:hover .policyBarSubtext{
        color:#2c2e30 ;
    }
    a:hover .quoteBarTitle{
        color:#2c2e30 ;
    }
    
    a:hover .driverBarTitle{
        color:#2c2e30 ;
    }
    a:hover .carBarTitle{
        color:#2c2e30 ;
    }
    a:hover .policyBarTitle{
        color:#2c2e30 ;
    }
    
    /*bunları tek çatı altında nasıl toplarım.?*/
            



   

  


.iconBorder{
    width: 125px;
    height: 125px;
    font-size:65px;
    border: 1px solid #cacaca;
    color:#cacaca;
    border-radius: 8px;
}


.btn-danger:focus{
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.btn-danger {
    color: #fff;
    background-color: #f04b31;
    border-color: #f04b31;
}

.btn-danger:hover {
    color: #fff;
    background-color: #d64a34;
    border-color: #f04b31;
}

    .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
        color: #fff;
        background-color: #f04b31;
        border-color: #f04b31;
    }

    .btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus {
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }

    .btn-outline-danger {
        color: #f04b31;
        border-color: #f04b31;
    }

    .btn-outline-danger:hover {
        color: #fff;
        background-color: #f04b31;
        border-color: #f04b31;
    }

    .btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show>.btn-outline-danger.dropdown-toggle {
        color: #fff;
        background-color: #f04b31;
        border-color: #f04b31;
    }

    .btn-outline-danger.focus, .btn-outline-danger:focus {
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }

    .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-danger.dropdown-toggle:focus {
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }

    .colBorder+.colBorder{
        border-left: 0.5px solid #f0f0f0;

    }

    .form-control{
        border:0;
        transition:none ;
    }
    
    
    .form-control:focus {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        border:1px solid #ededed;
        
    }
    

